body {
  background-color:black;
  display: flex;
  flex-direction: block;
}

h1 {
  color: #0066ff;
  text-align: center;
}

p {
  text-align: center;
  color: blueviolet;
}


img {
  
  width: 1766px;
  height: 996px;
  align-content: center;
}

.sns {
  color: blueviolet;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  color: aqua;
  background-color: brown;
  border-radius: 20px;
  display: block;
  width: 250px;
  height: 50px;
  border: none;
  margin-left: 42%;
}

button:hover {
  opacity: 0%;
}